@import url(https://fonts.googleapis.com/css?family=Nunito);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  --red: #ff3953;
  --main: #2c3333;
  --naive: #395b64;
  --blue: #a5c9ca;
  --gray: #e7f6f2;
  background-color: var(--main);
}

a:-webkit-any-link {
  color: var(--gray);
  cursor: pointer;
  text-decoration: underline;
}
